<div class="container">
  <mat-card>
    <div style="display: flex; flex-direction: row;">

      <div>
        <div>
          <span style="display: flex; flex-direction: row; align-items: baseline;">
            <h2>My Chats</h2>
            <td>{{}}</td>
            <td>{{id.message}}</td>
          </span>
          <button mat-button> </button>
          <div style="height: 125px;">
          <span style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
          <span style="display: flex; flex-direction: row; align-items: center;">

            <div class="rent">
      <button
        mat-raised-button
      >
        Rent Car
      </button>
  </div>
       </span>
    </span>

          </div>

        </div>

      </div>



    </div>
  </mat-card>
</div>

<ng-template #no_rooms>
  <div>
    <mat-error>No Chatrooms for you so far, please create one or get invited</mat-error>
  </div>
</ng-template>
