mat-card{
  margin: 50px auto;
  width: 75%;
  background-color: #D0EFF2;
}
h1{
  position: center;
  margin-left: 50%;
  margin-top: 30px;
}
mat-label{
  font-weight: bolder;
}
.name-s{
  margin-left: 17%;
  margin-top: -10%;
}
h3{
  margin-bottom: 100px;
}
mat-card img{
  grid-area: image;
  width: 150px;
  height: 100px;
  margin-left: 15%;
  border-style: outset;
  border-radius: 50px;
}
mat-card li{
  list-style-type: none;
}
.happyface{
  margin-top: 20px;
  position: absolute;
  color: #1976D2;
}
.starstyle{
  position: absolute;
  color: black;
  font-size: 20px;
  top: 10px;
  left: 30%;
  margin-bottom: 100px;
}
.star{
  font-size: 100px;
  color:gold;
}
.pos {
  padding-top: 15px;
  padding-bottom: 20px;
}
.userstyle{
  margin-left: 15px;
}
.socialstyle{
  margin-top: 500%;
}

