<div class="container">
  <mat-card-title>My Profile</mat-card-title>

  <mat-card-content class="profile-style">
    <div style="position: fixed">
      <button color="primary" mat-raised-button (click)="editDialogClient()"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="information-style">
      <img mat-card-avatar class="mx-auto" src="{{ clientUsers.imagePath }}" alt="user image">
      <h1 class="text-center">{{ clientUsers.names }}</h1>

      <mat-label>Location</mat-label>
      <mat-card-content><mat-icon style="color: red">room</mat-icon>{{ clientUsers.address }}</mat-card-content>

      <mat-label>Phone Number</mat-label>
      <mat-card-content><mat-icon>phone</mat-icon>{{ clientUsers.cellphoneNumber}}</mat-card-content>

      <mat-label>Qualification</mat-label>
      <mat-card-content>Your average response time: <strong>{{ clientUsers.responseTime }}min</strong><mat-icon style="color: limegreen">av_timer</mat-icon></mat-card-content>
      <mat-card-content>Your average of responsibility: <strong>{{ clientUsers.averageResponsibility }}%</strong><mat-icon style="color: limegreen">thumb_up</mat-icon></mat-card-content>
    </div>
    <div class="car-style">
      <h1> My cars </h1>
      <app-view-car *ngFor="let car of userCars" [car]="car" [clientId]="clientId"></app-view-car>
    </div>
  </mat-card-content>
</div>
