.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto 0;
  padding: 20px;
  flex-direction: column;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

mat-card{
  margin: 50px auto;
  width: 75%;
}

.profile-style {
  display: flex;
}

mat-card-content
{
  padding-left: 15px;
  padding-top: 10px;
}

mat-card-title {
  margin: 0 auto 0;
  padding: 20px;
}

.car-style {
  width: 50%;
  position: relative;
}

.information-style {
  width: 50%;
  display: flex;
  flex-direction: column;
}

mat-icon {
  vertical-align: bottom;
}

.language-style {
  display: grid;
}

.text-center {
  text-align: center;
}

mat-label {
  font-weight: bolder;
}

h3 {
  margin-bottom: 100px;
}

mat-card-content img {
  width: 150px;
  height: 100px;
}

mat-card li {
  list-style-type: none;
}

.btn-style {
  float: left;
  position: fixed;
}
